.songDiv
{
    
    font-size:1.8em;
    width:100%;
    height:auto;
    margin:5px auto;
    box-shadow:0px 1px 4px black;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:15px;
    font-family: 'Varela Round', sans-serif;
}
.songDiv:hover
{
    background-color:#F44336;
}
.listDiv
{
    color:#e5e5e5;
    background-color:#00796B;
    font-size:2em;
    width:100%;
    height:auto;
    margin:5px auto;
    box-shadow:0px 1px 2px black;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:10px;
    padding-right:15px;
    font-family: 'Varela Round', sans-serif;
}
#listDelete.material-icons
{
    text-decoration:none;
    font-size:2em;
    margin-top:-10px;
    float:right;
    color:#e5e5e5;
}
#listDelete.material-icons:hover
{
    color:#333 !important;
}
#songDelete.material-icons
{
    text-decoration:none;
    font-size:1.3em;
    vertical-align:middle;
    float:right;
    color:#555;
}
#songDelete.material-icons:hover
{
    color:#333 !important;
}
