@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.4em; /* 1.5x default size */
    }
}
@media all and (max-width: 1040px) { /* screen size until 1000px */
    body {
        font-size: 1.3em; /* 1.2x default size */
        }
    }
@media all and (max-width: 700px) { /* screen size until 500px */
    body {
        font-size: 1.2em; /* 0.8x default size */
        }
    }
@media all and (max-width: 620px) { /* screen size until 500px */
    body {
        font-size: 1.1em; /* 0.8x default size */
        }
    }
@media all and (max-width: 550px) { /* screen size until 500px */
    body {
        font-size: 1em; /* 0.8x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.9em; /* 0.8x default size */
        }
    }
.container-fluid
{
    min-width:500px;
}      
#login-form
{
 
   text-align:center;
   
   
}
#signup-form
{
   display:none;
   text-align:center;
   
   
}
#form-label
{
    font-size:450%;
font-family: 'Monofett', cursive;
}
#main-form-login
{
    background-color: rgba(0, 0, 0, 0.5);
    padding:0px 5px 5px 5px;
    border-radius:5px;
    border:4px solid rgba(0, 0, 0, 0.4);
}
#main-form-password
{
    background-color: rgba(0, 0, 0, 0.5);
    padding:0px 5px 5px 5px;
    border-radius:5px;
    border:4px solid rgba(0, 0, 0, 0.4);
}
#main-form-signup
{
    background-color: rgba(0, 0, 0, 0.5);
    padding:0px 10px 10px 10px;
    border-radius:5px;
    border:4px solid rgba(0, 0, 0, 0.4);
}
.login-name
{
    height:45px!important;
    font-size:1.3em!important;
    font-family: 'Varela Round', sans-serif!important;
    margin:4px 0px 4px 0px!important;
}
#button-go
{
    font-size:100%;
    margin-bottom:5px;
}
#credPara
{
    font-family: 'Varela Round', sans-serif;
    font-size:1.5em;
}
