@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.4em; /* 1.5x default size */
    }
}
@media all and (max-width: 1040px) { /* screen size until 1000px */
    body {
        font-size: 1.3em; /* 1.2x default size */
        }
    }
@media all and (max-width: 700px) { /* screen size until 500px */
    body {
        font-size: 1.2em; /* 0.8x default size */
        }
    }
@media all and (max-width: 620px) { /* screen size until 500px */
    body {
        font-size: 1.1em; /* 0.8x default size */
        }
    }
@media all and (max-width: 550px) { /* screen size until 500px */
    body {
        font-size: 1em; /* 0.8x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.9em; /* 0.8x default size */
        }
    }
@media all and (max-width: 1200px) { /* screen size until 1200px */
    table {
        font-size: 1.4em; /* 1.5x default size */
    }
}
@media all and (max-width: 1040px) { /* screen size until 1000px */
    table {
        font-size: 1.2em; /* 1.2x default size */
        }
    }
@media all and (max-width: 700px) { /* screen size until 500px */
    table {
        font-size: 1em; /* 0.8x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    table {
        font-size: 0.9em; /* 0.8x default size */
        }
    }
.navbar{
	margin-bottom:10px;
}
.dropdown-menu>li>a {
    padding: 7px 20px !important;
    }
.container-fluid
{
    min-width:384px;
}  
.testlink 
{
    visibility:hidden;
}
#searchBar[type=text]
{
    width: 100%;
    max-height: 7%;
    height:auto;
    border-radius:2px;
    box-shadow:0px 1px 2px gray;
    font-family: 'Ubuntu', sans-serif;
    font-size:1.5em;
    background-image: url(search-logo.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-origin:border-box;
    background-position:7px 8px;
    background-size:3.9%;
    padding:8px 0px 8px 44px;
    
}
#searchDiv
{
    display:none;
    position:absolute;
    z-index:6;
    background-color:white;
    width:100%;
    box-shadow:0px 5px 5px 0px gray;
    margin-top:-13px;
}
#searchResult
{
    font-size:1.8em;
    padding:8px 0px 8px 12px;
    font-family: 'Ubuntu', sans-serif;
}
#searchResult:hover
{
background-color:#e0e0e0!important;
}
.searchLinks
{
    text-decoration:none;
    color:#555555;   
}
.searchLinks:hover
{
    text-decoration:none;
    color:#333333;   
}
#sepLines
{
    margin-top:1px;
    margin-bottom:1px;
}
#albumAlert
{
    float:right;
    padding:8px 12px 8px 0px;
}
#sinfo-table
{
    width:100%;
    border-width:2px;
    border-color:black;
    border-style:solid;
}
#albumArt
{
    width:100%;
    height:auto;
    min-width:120px;
    padding:5px;
}
#albumArt-cell
{
    text-align:left;
    width:36%;
}
.addSong:hover
{
	color:black !important;
}
#songName
{
    padding:0px 0px 0px 10px;
    font-size:1.7em;
    font-family: 'Varela Round', sans-serif;
    font-weight:500;
}
#artistName
{
    padding:0px 0px 0px 10px;
    font-size:1.3em;
    font-family: 'Varela Round', sans-serif;
}
#albumName
{
    padding:0px 0px 0px 10px;
    font-size:1.2em;
    font-family: 'Varela Round', sans-serif;
}
#yearOfRelease
{
    padding:0px 0px 0px 10px;
    font-size:1.15em;
    font-family: 'Varela Round', sans-serif;
}
#controlTable
{
    box-shadow:0px 1px 7px black;
    margin-top:10px;
}
#prev-btn
{
    text-align:center;
    padding:10px 0px 10px 0px;
    height:auto;
}
#play-btn
{
    text-align:center;
    padding:10px 0px 10px 0px;
    height:auto;
}
#next-btn
{
    text-align:center;
    padding:10px 0px 10px 0px;
    height:auto;
}
#volume-btn
{   
    padding:0px 5px 0px 5px;
    text-align:center;
    width:7%;
    
    
}
#volume
{
   display:none;
   width:100%;
   display:table-cell;
}
#navBar
{
    height:87% !important;
    min-width:45px;
    box-shadow:0px 0px 1px black;
}
.playlists
{
    font-size:1.2em;
    font-family:'Varela Round', sans-serif;
}
#userHead
{
    font-size:1.9em;
    font-family: 'Ubuntu', sans-serif;
    
}
#userHead:hover
{
    color:grey;
}
a.list-group-item
{
    font-size:1.2em;
    font-family: 'Varela Round', sans-serif;
}
#playlistHead
{
    font-size:1.4em;
    font-family: 'Varela Round', sans-serif;
}
#playlistContainer
{
    display:none;
    
    
}
#comingUp
{
    display:block;
    margin-top:0px;
    height:200px;
    overflow:auto;
}
#comingUp-head
{
    background-color:#00838F;
    margin:8px 0px 0px 0px;
    text-align:left;
    font-size:1.55em;
    color:white;
}
#mostPlayed-head
{
    background-color:#00838F; /*#5bc0de*/
    margin:0px 10px 0px 10px;
    text-align:center;
    font-size:1.55em;
    color:white;
}
#mostPlayed
{
    margin:0px 10px 0px 10px;
    text-align:center;
    font-size:0.9em;
}
#recentlyPlayed-head
{
    background-color:#00838F;
    margin:8px 10px 0px 10px;
    text-align:center;
    font-size:1.55em;
    color:white;
}
#recentlyPlayed
{
    margin:0px 10px 0px 10px;
    text-align:center;
    font-size:0.9em;
}
#genre-head
{
    background-color:#00838F; /*#5bc0de*/
    text-align:center;
    font-size:1.55em;
    color:white;
}
#genreList
{
    text-align:center;
    font-size:0.9em;
}
#seekbar-container
{
margin-top:7px;
margin-left:0px;
height:2.5%;
padding:0px 0px 0px 5px;
}
.seekbar-thumb{
  background-color:#006699;
   opacity:0.8;
}
#startTime
{
   margin-top:5px;
   font-size:1.2em;
   font-family: 'Varela Round', sans-serif;
}
#endTime
{
   margin-top:5px;
   font-size:1.2em;
   font-family: 'Varela Round', sans-serif;
   padding-left:5px;
}
.table-responsive
{
    overflow:visible;
}
#plusPlaylist
{
    color:#555;
}
#createNew
{
    position:absolute;
    z-index:7;
    margin:auto;
    top:30%;
    left:37%;
    padding:20px 30px 0px 30px;
    box-shadow:0px 1px 7px black;
    background-color:white; 
    border-radius:2px;
   
}
#createList-form
{

   text-align:center;
   
}
#createList
{ 
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.material-icons:hover
{
    color:white;
}
.playList-btn
{
    margin-top:10px;
}
#createList-form input::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 280px;
    margin: 200px auto;
    }
    }
